<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
<div class="p-3 mb-2 bg-light text-dark">
  <head>
    <title>CoronaVirus Tracker...</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  </head>
   <body>
	<div class="container p-3 my-3 bg-dark text-white">
	<h1>Coronavirus Tracker Application</h1>
	<h5>Coronavirus case across worldwide</h5>
	<h5>New Cases from last day: <span th:text="${newcases}" /></h5>
	<h5>Total Cases: <span th:text="${totalCases}" /></h5>
	
	</div>
   <div class="container">
   <table class="table">
      <tr>
        <th>Country</th>
        <th>State</th>
        <th>Previous Day Cases</th>
        <th>New Cases in last day</th>
      </tr>
      <tr th:each="data : ${Data}">
        <td th:text="${data.country}"></td>
        <td th:text="${data.state}"></td>
        <td th:text="${data.prevDayCase}">0</td>
        <td th:text="${data.newCases}">0</td>
               
      </tr>
    </table>
  </div>
  </body>
</div>
</html>